{% load static %}
{% load marketplace_tags %}
<!--Main Wrapper-->
<div class="wrapper">
    <!-- Header Start -->
    <header id="header">
        <div class="main-header">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        <div class="logo">
                            <figure>
                                <a href="{% url 'home' %}" class="light-logo">
                                    <img src="{% static 'logo/foodOnlineLogo.png' %}" alt="FoodOnline" width="200px" height="40px">
                                </a>
                            </figure>
                        </div>
                        <div class="main-location">
                            <ul>
                                <li class="location-has-children choose-location">
                                    <form action="#">
                                        <input type="text" value="" name="location" placeholder="Enter your delivery location" autocomplete="off">
                                        <span id="foodbakery_radius_location_open" class="foodbakery-radius-location"><i class="icon-target5"></i></span>
                                    </form>
                                    
                                </li>
                            </ul>
                            </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="login-option">
                            {% if user.is_authenticated %}
                            <span>
                                <a href="{% url 'cart' %}" style="font-size: 12px;">
                                    <i class="fa fa-shopping-cart text-danger"></i>
                                    <span class="badge badge-warning" id="cart_counter" style="position: relative; bottom: 10px; border-radius: 50px;">{% total_cart_quantity user %}</span>
                                </a>
                            </span>
                            
                            <span>
                                <a class="cs-color cs-popup-joinus-btn login-popup" href="{% url 'userAccount' %}" style="font-size: 12px;">My Account</a>
                            </span>
                            <span>
                                <a class="cs-color cs-popup-joinus-btn login-popup  ml-1" data-target="#sign-in" href="{% url 'logout' %}" style="font-size: 12px; padding: 4px 12px; background-color: #c33332; color: white; border-radius: 4px;">Logout</a>
                            </span> 
                            {% else %}
                            <span>
                                <a class="cs-color cs-popup-joinus-btn login-popup" data-target="#sign-in" href="{% url 'login' %}" style="font-size: 11px;">Login</a>
                            </span>
                            <span>
                                <a class="cs-color cs-popup-joinus-btn login-popup ml-0" href="{% url 'registerUser' %}" style="font-size: 11px;">Register</a>
                            </span>
                            {% endif %}
                            <a class="get-start-btn" href="{% url 'marketplace' %}" style="font-size: 10px;">
                                marketplace
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!-- Header End -->