{% extends 'base.html' %}
{% load static %}

{% block title %}Customer Settings{% endblock %}

{% block content %}
{% include 'includes/cover.html' %}

<div class="main-section">
    <div class="page-section account-header buyer-logged-in">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    {% include 'includes/customer_sidebar.html' %}
                </div>
                <div class="col-lg-9 col-md-9 col-sm-12 col-xs-12">
                    <div class="user-dashboard loader-holder">
                        <div class="user-holder">
                            <h5 class="text-uppercase">Account Settings</h5>
                            <p>Update your basic account information below.</p>
                            
                            <!-- Customer Settings Form Start -->
                            <form action="{% url 'customers:settings' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-fields-set">
                                    <ul>
                                        <li>
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label for="{{ settings_form.first_name.id_for_label }}">First Name *</label>
                                                        {{ settings_form.first_name }}
                                                        {% if settings_form.first_name.errors %}
                                                            <label class="text-danger">{{ settings_form.first_name.errors }}</label>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label for="{{ settings_form.last_name.id_for_label }}">Last Name *</label>
                                                        {{ settings_form.last_name }}
                                                        {% if settings_form.last_name.errors %}
                                                            <label class="text-danger">{{ settings_form.last_name.errors }}</label>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                            
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label for="{{ settings_form.username.id_for_label }}">Username *</label>
                                                        {{ settings_form.username }}
                                                        {% if settings_form.username.errors %}
                                                            <label class="text-danger">{{ settings_form.username.errors }}</label>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                                                    <div class="field-holder">
                                                        <label for="{{ settings_form.phone_number.id_for_label }}">Phone Number</label>
                                                        {{ settings_form.phone_number }}
                                                        {% if settings_form.phone_number.help_text %}
                                                            <small class="form-text text-muted">{{ settings_form.phone_number.help_text }}</small>
                                                        {% endif %}
                                                        {% if settings_form.phone_number.errors %}
                                                            <label class="text-danger">{{ settings_form.phone_number.errors }}</label>
                                                        {% endif %}
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <div>
                                        <div class="field-holder">
                                            <div class="payment-holder input-button-loader">
                                                <input type="submit" value="Update Settings" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <!-- Customer Settings Form End -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
