@keyframes show-toast {
    0% {top: -100%}
    20% {top: 100px}
    80% {top: 100px}
    100% {top: -100%}
}


.show-notification {
    position: fixed;
    right: 20px;
    top: 100%;
    animation: show-toast 8s;
}
