div.css-1kyxreq.e115fcil2{
    display: flex;
    align-item: center;
    justify-content: center;
}

div.css-1v0mbdj.e115fcil1 > img{
    border-radius: 50%;
}

div.css-5rimss.e1nzilvr4{
    text-align: center;
}